body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  
  font-family: 'Fjalla One', sans-serif !important;
}

.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/*.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}*/

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
  text-align: left;
  width: 50%;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 300;
  padding: 15px;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}

p {
  font-size: 20px;
}
